@mixin wrapper-container {
	width: 100%;
	max-width: $wrapper-container;
	margin: 0 auto;
}
@mixin indent-zero {
	padding: 0;
	margin: 0;
}

// Inline block

@mixin inline-block {
	display: inline-block;
	vertical-align: top;
}
@mixin inline-block-middle {
	display: inline-block;
	content: '';
	width: 0;
	height: 100%;
	vertical-align: middle;
}