/* Fonts
--------------------------------------------------------------------- */

@import "fonts";

/* normalize.css 4.1.1
--------------------------------------------------------------------- */

@import 'normalize';

// SASS settings

@import "variables";
@import "mixins";

/* General
--------------------------------------------------------------------- */

* {
	box-sizing: border-box;
}
body {
	background: $bg-base;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-hight-base;
	color: $font-color-base;
}
.wrapper-container {
	@include wrapper-container;
}
a {
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6,
ul, ol, li {
	@include indent-zero;
}
p {
	margin: 0 0 10px 0;
}

/* Page heder
--------------------------------------------------------------------- */

/* Page footer
--------------------------------------------------------------------- */

/* Utilities
--------------------------------------------------------------------- */

/* Clearfix */

.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

/* test
--------------------------------------------------------------------- */

&__view {
	$END$
}