// Typography

$font-base: "OpenSans", "Arial", sans-serif;
$font-second: "OpenSans", "Arial", sans-serif;
$font-main-title: "OpenSans", "Arial", sans-serif;
$font-section-title: "OpenSans", "Arial", sans-serif;
$font-content-title: "OpenSans", "Arial", sans-serif;

$font-size-base: 16px;
$line-hight-base: 160%;

$font-color-base: black;
$font-color-second: gray;

// Colors

$blue: blue;

// Blocks

$wrapper-container: 1200px;

// Background

$bg-base: white;
$bg-beige: url('../img/bg-beige.jpg') repeat 0 0;
$bg-blue: url('../img/bg-blue.jpg') repeat 0 0;
$bg-brown: url('../img/bg-brown.jpg') repeat 0 0;
$bg-brown-dark: url('../img/bg-brown-dark.jpg') repeat 0 0;
$bg-gray-light: url('../img/bg-gray-light.jpg') repeat 0 0;
$bg-gray-dark: url('../img/bg-gray-dark.jpg') repeat 0 0;
$bg-orange: url('../img/bg-orange.jpg') repeat 0 0;
$bg-tomato: url('../img/bg-tomato.jpg') repeat 0 0;
$bg-violet: url('../img/bg-violet.jpg') repeat 0 0;
$bg-mask: url('../img/bg-mask.png') repeat 0 0;

// Effects

$hover-opacity: .7;
$hover-transition: all .2s ease;

// Shadows

$shadow-section: 0 0 5px 0 rgba(0, 0, 0, .25);